html {
	background: #f0f4f5;
}
.App {
	margin: 0 35% 0 2em
}
.review {
	color: gray;
	line-height: 8px
}

fieldset.standard, fieldset.advisory, fieldset.dodont {
	background: white;
}

fieldset.standard > legend {
	background: #005eb8;
	color: white;
	display: block;
	width:100%;
	margin: 0 0 0 -14px;
	height: 1.5em;
/* 	text-indent: 2em; */
	font-size: 24px;
	font-weight: 600;
	height: 2em;
	line-height: 1.8em 
}

fieldset.dodont > legend {
	background: #005eb8;
	color: white;
	display: block;
	margin: 0 0 0 -14px;
	height: 1.5em;
	font-size: 24px;
	font-weight: 600;
	height: 2em;
	line-height: 1.8em 
}

fieldset.dodont > legend:before, fieldset.dodont > legend:after {
	content: "";
	width: 1em;
	display:inline-block;
}

fieldset.critical {
	background: #212b32;
	color: white;
}

fieldset.advisory > legend, fieldset.critical > legend {
	background: #d5281b;
	color: white;
	display: block;
	width:100%;
	margin: 0 0 0 -14px;
	height: 1.5em;
/* 	text-indent: 2em; */
	font-size: 24px;
	font-weight: 600;
	height: 2em;
	line-height: 1.8em 
}
fieldset.critical > ul > li > a {
	color: inherit;
}
fieldset > ul, fieldset > p {
	font-size: 19px
}

fieldset {    
	border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}

h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}

header {
	background: #005eb8;
	margin: 0 -55% 0 -2em;
}
header>div {
	margin: 0 0 0 2em;
	color: white;
}
header>nav {
	margin: 0 0 0 2.5em;
	color: white;
	display: flex;
}
header>nav>a {
	color: white;
	margin: 0 1em 0 1em;
}
header>nav>a:hover {
	text-decoration: none;
	color: white;
}
header>hr {
	border-color: rgb(51 126 198);
	border-style: solid;
	margin: 1em 2em 1em 2em;
}
fieldset.dodont.do > ul > li {
	list-style-type: none;
	line-height: 1.8em;
}
fieldset.dodont.dont > ul > li {
	list-style-type: none;
	line-height: 1.8em;
}

.right {
	position: absolute;
	text-align: right;
	right: 3em
}

.nhsuk-icon {
position: absolute;
margin: 0 0 0 -2em;
}

.nhsuk-logo__background {
fill: white
}
.nhsuk-logo__text {
fill: #005eb8
}